sage
tests/test_data/
input/millennium/
output/
input/
tests/test_build/
tests/test_output/
plotting/presentation_plots/


*.o
*.*~
libsage.a
libsage.so
*.so
*.patch
perf.data*
*.pdf
tmp*
*.par
*vscode*
_sage_cffi.*
codecov
*.tar*
*.png
*.jpg
*.par
*.ipynb_checkpoints
*.dSYM
*.txt
*.log
*.out
*.DS_Store
xx*
yy*
*.hdf5
*.csv

plotting/gas_plots.py
plotting/ICS_plots.py
plotting/paper_plots.py
plotting/smf_analysis_obs_sam.py

# data files #
data/

# sage_analysis Package Stuff #
*.egg-info
*__pycache__*

# Documentation with Sphinx #
docs/build
docs/make.bat