sage
tests/test_data/
input/millennium/
output/
input/
tests/test_build/
tests/test_output/

*.o
*.*~
libsage.a
libsage.so
*.so
*.patch
perf.data*
*.pdf
tmp*
*.par
*vscode*
_sage_cffi.*
codecov
*.tar*
*.png
*.par
*.ipynb_checkpoints
*.dSYM
*.txt
*.log
*.out
*.DS_Store
xx*
yy*
*.hdf5

# Large CSV files #
data/COSMOS.csv
data/COSMOS2020/
data/Thorne21/

# sage_analysis Package Stuff #
*.egg-info
*__pycache__*

# Documentation with Sphinx #
docs/build
docs/make.bat

